/* src/components/pagination/Pagination.css */
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;

  
  
}

.pagination-button  {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  border: 1px solid #e2e8f0;
  background-color: white;
  color: #334155;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.pagination-button:hover:not(:disabled) {
  border-color: #cbd5e1;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.pagination-button:disabled {
  background-color: #f8fafc;
  color: #cbd5e1;
  cursor: not-allowed;
  box-shadow: none;
}

.page-numbers {
  display: flex;
  gap: 0.5rem;
}

.page-number {
  padding: 0.5rem 0.85rem; /* Sayı butonları biraz daha kare olsun */
}

/* Aktif sayfa butonu için özel stil */
.page-number.active {
  background-color: #1e293b; /* Koyu renk */
  color: white;
  border-color: #1e293b;
  font-weight: 600;
}